{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}
{% block content %}
<div id="bg-container" class="container-fluid d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 73px);">
  <div class="row">
    <div class="col-6 w-100" id="login-box">
      <h1 class="text-center mb-3">Login</h1>
      <form class="form w-100" id="login-form" method="POST" action="{{ url_for('login') }}">
        <div class="row mb-3">
          <label for="username" class="col-sm-3 col-form-label">Username</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="username" placeholder="Enter username" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" placeholder="Enter password" required>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn disabled" id="submit">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}