{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}
{% block content %}
<div id="bg-container" class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row w-100 justify-content-center align-items-center">
    <div class="col-5" id="login-box">
      <h1 class="text-center mb-3">Login</h1>
      <form class="form w-100" id="login-form" method="POST" action="{{ url_for('login') }}">
        <div class="row mb-3 align-items-center">
          <label for="username" class="col-sm-2 col-form-label">Username:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" placeholder="Enter username" required>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <label for="password" class="col-sm-2 col-form-label">Password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="Enter password" required>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
            <input type="checkbox" class="form-check-input" id="remember" name="remember" value="true">
            <label for="remember" class="form-check-label">Remember me</label>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn disabled" id="submit">Sign in</button>
        </div>
      </form>
      <div class="row mt-3">
        <div class="col text-center">
          <p>Dont have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}