{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div id="bg-container" class="container-fluid d-flex justify-content-center align-items-center">

  <div class="row w-100 justify-content-center align-items-center">

    <!-- FLASH MESSAGE WRAPPER -->
    <div class="position-relative" style="width: 100%;">
      <div class="position-absolute start-50 translate-middle" style="top: 10rem;">
        <div class="d-flex flex-column align-items-center gap-1">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show shadow d-inline-block text-nowrap" role="alert" style="top: -2rem;">
                  <span class="me-3">{{ message }}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
    
    <div class="col-lg-5 col-md-6" id="form-box">

      <h1 class="text-center">Sign Up</h1>

      <!-- Sign Up Form -->
      <form class="form row align-items-end" id="signup-form" method="POST" action="{{ url_for('user.signup') }}">
        {{ form.csrf_token }}

        <div class="col-12 mb-2">
          {{ form.username.label(class="col-form-label") }}
          {{ form.username(placeholder="Enter username", class="form-control") }}
        </div>

        <div class="col-12 mb-2">
          {{ form.email.label(class="col-form-label") }}
          {{ form.email(placeholder="Enter email", class="form-control") }}
        </div>

        <div class="col-6 mb-2 pe-1">
          {{ form.password.label(class="col-form-label") }}
          {{ form.password(placeholder="Enter password", class="form-control") }}
        </div>

        <div class="col-6 mb-2 ps-1">
          {{ form.confirm_password.label(class="col-form-label") }}
          {{ form.confirm_password(placeholder="Confirm password", class="form-control") }}
        </div>

        <div class="d-grid mt-2">
          {{ form.submit(class="btn", id="submit-btn") }}
        </div>

        <div class="row mt-3">
          <div class="col text-center">
            <p>Already have an account? <a href="{{ url_for('user.login') }}">Login here</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}