<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/file_upload.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">CGTools</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Calculate CGT</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Upload .csv file:</h1>

        <div class="upload-area" id="uploadfile">
            <div class="upload-text">Drag and drop file here</div>
            <img src="" alt="Upload Icon" width="80" height="80" alt="Upload Icon">
            <div class="upload-text">
                <a class="browse-link">Browse local files</a>
            </div>
        </div>

        <div class="button-row">
            <button class="button-secondary" id="cancel">Back</button>
            <button class="button-calculate" id="calculate">Calculate</button>
            <button class="button-secondary" id="upload">No file?</button>
        </div>
    </div>
</body>
</html>