<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">CGTools</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('file_upload') }}">Calculate CGT</a></li>
            <li><a href="#">History</a></li>
            <li><a href="{{ url_for('login') }}" class="login-btn">Login</a></li>
        </ul>
    </nav>
    
    {% block content %}{% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>